<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SudokuSolver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SudokuSolver.My.MySettings>
            <setting name="_blnCandidates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_bgColour" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="_borderColour" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="_solveColour" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="_clueColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_userColour" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="_CandidateFontSize" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="_CandidateFont" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="_SolvedFont" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="_SolvedFontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_EnabledSolvers" serializeAs="String">
                <value>1:True:Naked Single,1:True:Hidden Single,1:True:Locked Candidates,2:True:Naked Pair,2:True:Naked Triple,2:True:Naked Quad,3:True:Hidden Pair,3:True:Hidden Triple,3:True:Hidden Quad,3:True:X-Wing,3:True:Swordfish,3:True:Jellyfish,4:True:Colour Wrap,4:True:Colour Trap,4:True:XY Wing,4:True:XYZ Wing,4:True:Brute Force</value>
            </setting>
            <setting name="_PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_nakedColour" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="_ShowNS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_defaultSolvers" serializeAs="String">
                <value>1:True:Naked Single,1:True:Hidden Single,1:True:Locked Candidates,2:True:Naked Pair,2:True:Naked Triple,2:True:Naked Quad,3:True:Hidden Pair,3:True:Hidden Triple,3:True:Hidden Quad,3:True:X-Wing,3:True:Swordfish,3:True:Jellyfish,4:True:Colour Wrap,4:True:Colour Trap,4:True:XY Wing,4:True:XYZ Wing,4:True:Brute Force</value>
            </setting>
            <setting name="_pColour" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_nColour" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_cColour" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_rColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_blnManualInputSuggest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_GenClassicDifficulty" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="_GenSamuraiDifficulty" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="_GenClassicSymmetry" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="_GenSamuraiSymmetry" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="_intMaxGenerate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_GeneratePriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="_blnGeneratePuzzleSaveSolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_intTipoftheDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_blnShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_UniqueSolvers" serializeAs="String">
                <value>1:True:Naked Single,1:True:Hidden Single,1:True:Locked Candidates,2:True:Naked Pair,2:True:Naked Triple,2:True:Naked Quad,3:True:Hidden Pair,3:True:Hidden Triple,3:True:Hidden Quad,4:True:Brute Force</value>
            </setting>
        </SudokuSolver.My.MySettings>
    </userSettings>
</configuration>
